/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300&display=swap");

/*
=============== 
Variables
===============
*/
:root {
  --clr-white: #fff;
  --clr-white-o40: #ffffff66;
  --clr-white-o10: #ffffff1a;
  --clr-black: #000;
  --clr-cream: #fff9f5;
  --clr-green-1: #d1e99b;
  --clr-green-2: #85ab6c;
  --clr-green-2-o70: #85ab6cb3;
  --clr-green-3: #52936a;
  --clr-brown-text-light: #9a8b7a;
  --clr-brown-text-dark: #61452c;
  --clr-yellow: #eaad75;
  --font-cursive: "Great Vibes", cursive;
  --font-sans-serif: "Source Sans Pro", sans-serif;
}

/*
=============== 
Global Styles
===============
*/
::selection {
  color: var(--clr-brown-text-dark);
  background: var(--clr-green-1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans-serif);
  color: var(--clr-brown-text-dark);
  font-size: 1.6rem;
  overflow-x: hidden;
}

h1 {
  font-family: var(--font-cursive);
  font-size: 5rem;
}

h2 {
  font-family: var(--font-cursive);
  font-size: 4rem;
  color: var(--clr-green-2);
  width: 100%;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.primary-color-header::after {
  content: "";
  position: absolute;
  background: url("../assets/images/separator-primary.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  bottom: -1.2rem;
}

.secondary-color-header {
  color: var(--clr-white);
}

.secondary-color-header::after {
  content: "";
  position: absolute;
  background: url("../assets/images/separator-secondary.png") center no-repeat;
  width: 100%;
  height: 100%;
  bottom: -1.2rem;
}

h3 {
  font-family: var(--font-cursive);
  font-size: 5rem;
  color: var(--clr-green-2);
}

h4 {
  font-family: var(--font-cursive);
  font-size: 3rem;
  color: var(--clr-white);
}

h5 {
  font-family: var(--font-cursive);
  color: var(--clr-white);
  font-size: 2.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--clr-white-o40);
  width: 100%;
  text-align: center;
}

h6 {
  font-family: var(--font-sans-serif);
  font-size: 1.7rem;
  font-weight: bold;
  margin: 40px 0;
  letter-spacing: 0.2rem;
  text-align: center;
}

.decorative-text {
  color: var(--clr-green-2);
}

.dot {
  margin: 0 1.2rem;
  height: 0.7rem;
  width: 0.7rem;
  background-color: var(--clr-white);
  border-radius: 50%;
}

.curved-decoration-banner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.curved-decoration {
  position: relative;
  z-index: 2;
  top: 1px;
  width: 100%;
}

.curved-decoration .svg-bg-primary {
  fill: var(--clr-white);
  display: block;
}

.curved-decoration-banner .svg-bg-secondary {
  fill: var(--clr-cream);
  display: block;
}

/*
=============== 
Banner Section
===============
*/
.banner {
  min-height: 100vh;
  background: linear-gradient(#c7c4ac4d, rgba(0, 0, 0, 0.5)),
    url("../assets/images/banner.jpg");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-white);
  overflow-x: hidden;
}

#names {
  position: relative;
}

#names::before {
  content: "";
  background-image: url("../assets/images/leaf1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -25px;
  left: -150px;
  height: 200px;
  width: 200px;
}

#names::after {
  content: "";
  background-image: url("../assets/images/leaf1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -25px;
  right: -155px;
  height: 200px;
  width: 200px;
  transform: rotateY(180deg);
}

.banner-main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: blink;
  animation-duration: 3s;
}

.banner-date {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  letter-spacing: 0.5rem;
  font-size: 2rem;
}

.banner-date .number {
  font-family: var(--font-sans-serif);
  font-size: 5rem;
  font-weight: bold;
}

.go-to-button {
  position: absolute;
  bottom: 10%;
  border-radius: 50%;
}

.arrow-img {
  transform: rotateZ(135deg);
  width: 50px;
  animation-name: blink;
  animation-duration: 3s;
}

/*
=============== 
Info Section
===============
*/
.info {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.info-text {
  color: var(--clr-brown-text-light);
  display: grid;
  justify-items: center;
  row-gap: 32px;
  width: 60%;
  padding-bottom: 70px;
  text-align: center;
}

.deceased-name {
  color: var(--clr-brown-text-light);
  margin-right: 5px;
}

.parents-names,
.godparents-names {
  color: var(--clr-brown-text-dark);
  font-weight: 600;
}

.parents-names {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.parents-names-groom {
  display: flex;
  align-items: center;
}

svg.angel {
  width: 1.6rem;
  fill: var(--clr-brown-text-light);
}

.wedding-pair-names {
  display: flex;
  justify-content: center;
  /* flex-shrink: 0; */
  width: 100%;
  max-width: 500px;
  margin-top: 1rem;
}

.wedding-pair-icon {
  width: 3rem;
  align-self: center;
  margin: 0 30px;
}

.bottom-flowers {
  width: 100%;
}

/*
=============== 
Event
===============
*/
.event {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/renatadorin1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.event::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(var(--clr-black), var(--clr-green-3));
  opacity: 0.6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.events-textbox-wrapper {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  max-width: 1140px;
  padding: 3rem;
}

.textbox {
  border: 2px solid var(--clr-white-o40);
  border-radius: 60% 60% / 40% 40% 0% 0%;
  background: var(--clr-white-o10);
  padding: 4rem 3rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  min-width: 16rem;
  color: var(--clr-white);
}

.textbox:first-of-type {
  position: relative;
}

.textbox:first-of-type::before {
  content: "";
  background-image: url("../assets/images/leaf1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -18px;
  left: -28px;
  height: 170px;
  width: 170px;
  transform: rotate(85deg);
}

.textbox:last-of-type {
  position: relative;
}

.textbox:last-of-type::after {
  content: "";
  background-image: url("../assets/images/leaves.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -65px;
  right: -65px;
  height: 324px;
  width: 324px;
}

.event-rows-wrapper {
  margin-top: 1.4rem;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-row {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.event-rows-wrapper svg {
  fill: var(--clr-white);
  margin-right: 1rem;
  width: 1.6rem;
}

.map {
  /* margin-top: 1.4rem; */
  width: 100%;
  height: 14rem;
  border: 0;
  z-index: 10;
}

/*
=============== 
Footer
===============
*/
footer {
  padding-top: 120px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-image: url("../assets/images/flowers-footer.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.confirmation-container {
  margin: 40px 0;
  width: 60%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.confirmation-container p {
  line-height: 1.5rem;
}

.telephone-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  color: var(--clr-white);
  background-color: var(--clr-green-2);
}

.telephone-element {
  flex: 1 0;
  border: 1px solid var(--clr-white-o40);
  margin: 1rem 0.5rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.telephone-element:first-of-type {
  margin-left: 1rem;
}

.telephone-element:last-of-type {
  margin-right: 1rem;
}

.telephone-number {
  margin-top: 0.6rem;
  font-family: var(--font-cursive);
  font-size: 2rem;
}

/*
=============== 
Countdown
===============
*/
.countdown {
  display: flex;
  justify-content: center;
}

.countdown-container {
  width: 80%;
  max-width: 1140px;
  height: 168px;
  margin-top: 80px;
  display: flex;
  color: var(--clr-white);
}

.countdown-text-container {
  flex: 1 1 0;
  background: url("../assets/images/rings-close-up.jpg") no-repeat 50% / cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  outline: 1px solid var(--clr-white-o40);
  outline-offset: -1rem;
}

.countdown-text-container::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-green-2-o70);
  z-index: -1;
}

.countdown-timer-container {
  background-color: var(--clr-green-2);
  flex: 2 1 0;
  display: flex;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem;
}

.timer-element {
  border: 1px solid var(--clr-white-o40);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-number {
  font-size: 3.5rem;
  font-weight: bold;
  font-family: var(--font-cursive);
}

.timer-aux {
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 10px;
}

/*
=============== 
Animations
===============
*/
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    transform: (translateY(0));
  }
  50% {
    transform: (translateY(4px));
  }
  100% {
    transform: (translateY(0));
  }
}

.heading-animation {
  animation-name: blink;
  animation-duration: 3s;
}

.bg-reset {
  background-attachment: initial;
}
